<component name="ArtifactManager">
  <artifact type="exploded-war" name="springtest0305:war exploded">
    <output-path>$PROJECT_DIR$/target/springtest0305</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springtest0305" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springtest0305/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springtest0305/web/Web" />
    </root>
  </artifact>
</component>